{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="">Sushi</a>
        <a href="">Sashimi</a>
        <a href="">Nigiri</a>
    </nav>
    {% block content %}

    {% endblock %}
<footer>
    <a href=""> Twitter</a>
    <a href="">Facebook</a>
    <a href="">Instagram</a>
</footer>
</body>
</html>